.input-styles{
    background-color: transparent;
    border: none;
    outline: none;
}
::placeholder{
    color: rgb(33, 201, 151);
}
.title{
    color: grey;
}
.desc{
    color:darkgray;
}
.invalid-input-error{
    position: absolute;
    top: 0%;
    border: 1px solid #343a40;
    height: 10%;
    width: 50%;
    right: -50%;
    transition: all .3s ease;
}